* { box-sizing: border-box; }

html {
    scroll-behavior: smooth; 
    scroll-padding-top: 72px;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --bg: #ffffff;
  --panel: #fca311;
  --text: #000000;
  --muted: #e5e5e5;
  --brand: #14213d;
  --radius: 14px;

  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-6: 3rem;

  --maxw: 1100px;
}

body {
    background-color: var(--bg);
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: var(--text);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    width: 100%;
    font-size: 20px;
    margin-bottom: 0;
    z-index: 1000;
    margin: 0;
    background-color: var(--bg);
}

.section, .container, .hero {
    position: relative;
    min-height: 100vh;  
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 10px auto;
    gap: var(--space-3);
}

.nav-list a {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
}

.our_pfp {
    display: flex;
    justify-content: center;
    gap: var(--space-2);
    margin: 0;
    background-color: var(--brand);
    padding: 65px;
}

.portrait {
    width: 300px;
    border-radius: none;
    margin: 0;
}

.btn {
    background: var(--panel);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color: var(--bg);
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.intro-title {
    text-align: center;
}

.intro-title h1 {
    font-size: 50px;
}

.intro-title h3 {
    margin-bottom: 50px;
}

/* .about_us {
    display: flex;
    grid-template-columns: 1fr 1fr;
}

.about_us img {
    width: 300px;
} */